[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "*"
opencv-python = "*"
torchvision = "*"
pytorch_metric_learning = "*"
matplotlib = "*"
tensorflow = "*"
eer = "*"
transformers = "*"
lightning = "*"
mxnet = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
